version: '3.8'

services:
  backend:
    image: nginx:alpine
    container_name: backend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
